@font-face {
    font-family: "Fira sans light";
    src: url("assets/fira-sans-light.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Fira sans heavy";
    src: url("assets/fira-sans-heavy.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
body {
    margin: 0;
    font: normal 14px/14px "Fira sans light";
}
.hidden {
    display: none;
}
.line-through {
    text-decoration: line-through;
}
h3 {
    margin: 0 0 20px;
    font: normal 18px/18px "Fira sans heavy";
}
.feather {
    width: 26px;
    height: 26px;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

/* == Buttons =============================================================== */
button {
    font-family: "Fira sans light";
    border: medium none;
    cursor: pointer;
    background-color: #f0f0f0;
}
button:hover:enabled {
    background-color: #ececec;
}
.nice-button {
    padding: 6px 16px;
    border-radius: 16px;
    background-color: #40e3cb;
    color: rgba(255,255,255,0.9);
    text-shadow: 1px 1px 0 #15c2bb;
}
.nice-button:disabled {
    background-color: #E5E5E5;
    color: #AAAAAA;
    cursor: not-allowed;
    text-shadow: none;
}
.nice-button:active:enabled,
.text-button:active:enabled {
    transform: scale(1.02, 1.02);
}
.nice-button:hover:enabled {
    background-color: #3bddc5;
}
.icon-button .feather {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
}
.text-button {
    padding: 5px 16px;
    background-color: transparent;
}
.text-button:disabled {
    color: #AAAAAA;
    cursor: not-allowed;
}
.text-button:hover:enabled {
    color: #366361;
    background-color: initial;
}

/* == Forms ================================================================= */
input, textarea, select:not(.no-style) {
    background-color: transparent;
    border-color: #ABADB3 #DBDFE6 #E3E9EF #E2E3EA;
    border-radius: 1px;
    border-style: solid;
    border-width: 1px;
    color: #444;
    font: 14px "Fira sans light";
    margin-bottom: 5px;
    padding: 5px 0;
    text-indent: 8px;
    -webkit-transition: border-color 0.1s ease-out 0s;
            transition: border-color 0.1s ease-out 0s;
}
input[type="submit"] {
    text-indent: 0;
}
select:not(.no-style) {
    text-indent: 2px;
}
input:hover {
    border-color: #5794BF #B7D5EA #C7E2F1 #C5DAED;
}
input[type="date"] {
    text-indent: 3px;
}
input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label {
    cursor: pointer;
}
input[type="checkbox"] + label:after {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    background-repeat: no-repeat;
    background-size: 13px auto;
    background-position: 4px 4px;
    cursor: pointer;
    border-radius: 2px;
    padding: 1px;
    float: left;
    border: 2px solid #899598;
}
input[type="checkbox"]:checked + label:after {
    background-color: #449eec;
    border: none;
    padding: 3px;
}
input[type="checkbox"]:checked:disabled + label:after {
    background-color: #ddd;
}
label:not(.inline), .input-set {
    display: inline-block;
    margin-bottom: 4px;
    width: 100%;
    text-align: left;
}
label > span:first-of-type,
.input-set > span:first-of-type {
    box-sizing: border-box;
    display: inline-block;
}
label input,
.input-set input,
label textarea,
.input-set textarea,
.input-set select,
label select {
    box-sizing: border-box;
    width: 100%;
}
label .text-error,
.input-set .text-error {
    display: inline-block;
    width: 100%;
}
.form-buttons {
    text-align: left;
    margin-top: 15px;
}
.form-buttons .nice-button {
    min-width: 85px;
}

/* == Tables ================================================================ */
table {
    border-collapse: collapse;
    margin-bottom: 10px;
    border-spacing: 0;
    max-width: 100%;
    width: 100%;
}
table.fixed {
    table-layout: fixed;
}
table th {
    padding-right: 10px;
    text-align: left;
}
table th:first-child {
    padding-left: 6px;
}
table.striped tr td {
    background-color: rgba(0,0,0,0.05);
}
table.striped tr:nth-of-type(2n) td {
    background-color: transparent;
}
table td {
    padding: 6px 10px 6px 0;
    text-align: left;
    vertical-align: top;
}
table tbody td:first-child {
    padding-left: 4px;
}
table.striped tbody td:first-child {
    padding-left: 6px;
}
.striped thead tr:only-child th:first-child,
.striped tbody tr:only-child td:first-child {
    padding-left: 0;
}
table .input-set {
    max-width: 48%;
    margin: 0 2% 0 0;
}
table .input-set > span:first-of-type {
    display: none;
}
table .input-set input {
    margin: 0;
}

/* == Theme =============================================================== */
.light h3 { color: rgba(0,0,0,0.65); }
.light a { color: #4d817f; }
.light a:hover { color: #366361 }