@font-face {
    font-family: "Fira sans light";
    src: url("assets/fira-sans-light.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Fira sans heavy";
    src: url("assets/fira-sans-heavy.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
body {
    margin: 0;
    font: normal 14px/14px "Fira sans light";
}
h2 {
    font: normal 18px/18px "Fira sans light";
}
a {
    color: #5c5a75;
}
a:hover {
    color: #5c5a75d5;
}
.hidden {
    display: none;
}
.feather {
    width: 24px;
    height: 24px;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}
.feather.small,
.icon-button .feather {
    width: 18px;
    height: 18px;
    vertical-align: top;
}

/* == Layout ================================================================ */
.container:not(:last-of-type) {
    margin-bottom: 24px;
}


/* == Components ============================================================ */
.box {
    padding: 15px 18px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
    border-top: 2px solid #34e6de;
}
.box.info {
    border-top: none;
    border-left: 3px solid #78c5dc;
}
.box.error {
    border-top: none;
    border-left: 3px solid #f18b8b;
}
.box h2 {
    margin: 0 15px 24px 0;
}


/* == Forms ================================================================= */
.input-group, .input-group-inline {
    position: relative;
    margin-bottom: 18px;
}
.input-group input,
.input-group textarea,
.input-group select {
    font: 14px/14px "Fira sans light";
    border-radius: 2px;
    padding: 8px;
    border: 1px solid #bbb;
    transition: background-color 0.1s ease-out 0s, border-color 0.4s ease-out 0s;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
}
.input-group input:enabled:hover,
.input-group textarea:enabled:hover,
.input-group select:enabled:hover {
    border-color: #aaa;
}
.input-group input:enabled:focus,
.input-group textarea:enabled:focus ,
.input-group select:enabled:focus {
    outline: none;
    border-color: #2dccc4;
}
.input-group input:disabled,
.input-group textarea:disabled,
.input-group select:disabled {
    background-color: #fff;
    border-color: #d8d8d8;
    cursor: not-allowed;
}
.input-group input:not(.pristine):invalid,
.input-group textarea:not(.pristine):invalid,
.input-group select:not(.pristine):invalid,
.input-group input:not(.pristine):invalid:focus,
.input-group textarea:not(.pristine):invalid:focus,
.input-group select:not(.pristine):invalid:focus {
    outline: none;
    border-color: #f06464;
}
.input-group input:not(.pristine):invalid:hover,
.input-group textarea:not(.pristine):invalid:hover,
.input-group select:not(.pristine):invalid:hover {
    border-color: #fc7f7f;
}

.input-group textarea {
    max-width: initial;
}

.input-group:not(.inline) label {
    position: absolute;
    color: #525252;
    font-size: 12px;
    padding: 0 3px;
    transition: color 0.1s ease-out 0s;
    left: 4px;
    top: -6px;
    background-color: #ffffff;
}
.input-group input:disabled + label,
.input-group textarea:disabled + label,
.input-group select:disabled + label {
    color: #d0d0d0;
}
.input-group input:enabled:focus + label,
.input-group textarea:enabled:focus + label,
.input-group select:enabled:focus + label {
    color: #24a29c;
}
.input-group input:not(.pristine):invalid + label,
.input-group textarea:not(.pristine):invalid + label,
.input-group select:not(.pristine):invalid + label,
.input-group input:not(.pristine):invalid:focus + label,
.input-group textarea:not(.pristine):invalid:focus + label,
.input-group select:not(.pristine):invalid:focus + label {
    color: #a22424;
}
.input-group-inline input {
    vertical-align: middle;
}


/* == Buttons =============================================================== */
.nice-button,
.icon-button {
    cursor: pointer;
    color: inherit;
}
.nice-button {
    background-color: #f5f5f5;
    border: none;
    border-radius: 3px;
    padding: 12px 24px;
    font: normal 14px/14px "Fira sans light";
    transition: background-color 0.1s ease-out 0s;
}
.nice-button.small {
    padding: 6px 12px;
    font-size: .9em;
}
.nice-button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: not-allowed;
}
.nice-button:enabled:hover {
    background-color: #f2f2f2;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2);
}
.nice-button:enabled:active,
.nice-button.primary:enabled:active,
.icon-button:enabled:active {
    box-shadow: none;
    outline: none;
}
.nice-button.primary:enabled {
    background-color: #2dccc4;
    color: #fff;
}
.nice-button.primary:enabled:hover {
    background-color: #33d6ce;
}

.icon-button {
    background-color: #f5f5f5;
    border: 1px solid transparent;
    padding: 6px;
    font: normal 12px/12px "Fira sans light";
    text-align: center;
}
.icon-button span {
    margin: 0 3px 0 7px;
    vertical-align: sub;
}


/* == Tables ================================================================ */
table {
    border-collapse: collapse;
    margin-bottom: 10px;
    border-spacing: 0;
    max-width: 100%;
    width: 100%;
}
table.fixed {
    table-layout: fixed;
}
table th {
    padding-right: 10px;
    text-align: left;
}
table th:first-child {
    padding-left: 6px;
}
table.striped tr td {
    background-color: rgba(0,0,0,0.05);
}
table.striped tr:nth-of-type(2n) td {
    background-color: transparent;
}
table td {
    padding: 6px 10px 6px 6px;
    text-align: left;
    vertical-align: middle;
}
table tbody td:first-child {
    padding-left: 4px;
}
table.striped tbody td:first-child {
    padding-left: 6px;
}
.striped thead tr:only-child th:first-child,
.striped tbody tr:only-child td:first-child {
    padding-left: 0;
}
table .label {
    max-width: 48%;
    margin: 0 2% 0 0;
}
table .label > span:first-of-type {
    display: none;
}
table .label input {
    margin: 0;
}


/* == Messages ============================================================== */
.toaster {
    color: #fff;
    font-size: 13px;
    line-height: 13px;
}
.toaster-message {
    cursor: pointer;
    padding: 12px 10px 12px 47px;
    position: relative;
    border-radius: 2px;
}
.toaster-message:not(:only-of-type):not(:last-of-type) {
    margin-bottom: 6px;
}
.toaster-message.success {
    background-color: rgba(12, 191, 120, 0.85);
}
.toaster-message.info {
    background-color: rgba(48, 174, 253, 0.85);
}
.toaster-message.error {
    background-color: rgba(255, 62, 97, 0.85);
}
.toaster-message .feather {
    position: absolute;
    left: 10px;
    top: 50%;
    width: 22px;
    height: 22px;
    margin-top: -11px;
}


/* == Theme ================================================================= */
.light { }