*.lock
.DS_Store
config.php
package-lock.json

node_modules

backend/vendor/
frontend/*
!frontend/rad/assets/
!frontend/rad/tests/
!frontend/rad/tests-vendor/
!frontend/rad/vendor/
!frontend/rad/common.css
!frontend/rad/cpanel-app.css
!frontend/rad/install-app.css
internal/
!backend/**/Internal
plugins/
site/
translations/
uploads/
