.toaster { margin: 8px 9px 0; }

.open { overflow: hidden; }
.view { float: right; padding: 48px 1px 1px; border-radius: 2px;
    width: calc(100% - 270px); margin: 8px 260px 1px 8px; max-width: 960px; }
.view > button { float: right; margin: -49px -1px 0 0; padding: 8px;
    background-color: transparent; }
.view > button:hover:enabled { background-color: transparent; }
.view > button .feather { float: left; width: 18px; height: 18px; }
.view > div:nth-of-type(1), .view > form:first-of-type { padding: 15px;
    border-radius: 1px; border-top: 1px solid rgba(0,0,0,0.15); }
.view h2 { font: normal 24px/24px "Fira sans heavy"; margin: -55px 0 27px -2px; }
.view h2 sup { font: normal 12px/12px "Fira sans light"; }

.in-edit { padding: 12px 10px 10px; margin: 8px 0; }

#control-panel { position: absolute; width: 240px; padding: 40px 1px 1px;
    margin-top: 8px; right: 9px; border-radius: 1px; }
#control-panel > a { float: right; margin: -37px 3px 0 0; letter-spacing: -1px;
    font-size: 13px; font-weight: normal }
#control-panel ul { margin: 5px 0; padding: 0; list-style: none; }
#control-panel li { padding: 6px 7px 8px; background-color: transparent; }
#control-panel li:nth-of-type(2n) { background-color: rgba(0,0,0,0.05); }
.tab-links { position: relative; top: 0px; margin-top: -20px; }
.tab-links button { padding: 4px 8px; border-bottom: none; }
.tab-links button.current { position: relative; }
.tab-links button.current::after { content: ""; position: absolute;
    width: 100%; height: 1px; left: 0; bottom: -1px; }
#control-panel > div:not(.tab-links) { padding: 15px 15px 0; border-radius: 1px; }
#control-panel section > div { padding: 0 8px 15px; border-radius: 2px; }
#control-panel section:last-of-type > div { padding-bottom: 2px; }
#control-panel section > div > div:last-of-type { margin-bottom: 15px; }
#control-panel h3 > span { font-family: "Fira sans light"; font-size: 11px;
    display: block; line-height: 11px; }
#control-panel h4 { margin: 0 0 6px 0; border-radius: 2px; padding: 10px 0 4px;
    position: relative; overflow: hidden; }
#control-panel h4 sup { font-size: 9px; }
    #control-panel h4 .feather { float: left; padding: 1px 8px 0 0; width: 17px; height: 17px; }
#control-panel h4 button { background-color: transparent }
.quick-links a { padding-top: 30px; display: inline-block; width: 50%; text-align: center;
    box-sizing: border-box; position: relative; margin-bottom: 5px; }
.quick-links a:only-of-type { width: 100%; }
.quick-links a .feather { position: absolute; stroke: #496362; width: 20px;
    height: 20px; top: 7px; left: 50%; margin-left: -12px; }
[data-num-waiting-uploads]::after { position: absolute; width: 18px; height: 18px;
    content: attr(data-num-waiting-uploads); margin: -15px 0 0; line-height: 19px;
    font-size: 10px; font-weight: bold; color: #fff; border-radius: 50%;
    background-color: #ff8b8b; box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
    text-indent: -2px; }
.quick-links + section h3 { margin: 4px 0 8px; }
#control-panel h1 { letter-spacing: -1px; font-size: 13px; font-weight: normal;
    background-color: #fff; margin: 0; text-align: right; padding: 0 15px 8px;
    color: rgba(0,0,0,0.6); }
#control-panel h1 img { width: 16px; margin: 4px 4px -3px 0; }

label[contenteditable] {
    border-bottom: 1px dashed #999;
    width: auto;
    padding-bottom: 3px;
    margin-bottom: 5px;
}

.content-types-list > div { transition: padding 0.15s linear; }
.content-types-list > div > *:first-child button { margin-left: 6px; }
.content-types-list > div > table { max-width: 390px; }

.popup-dialog-dialog {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    min-width: 200px;
    min-height: 200px;
    z-index: 1;
    padding: 0 15px;
    box-sizing: border-box;
}
.popup-dialog-dialog > div {
    margin: 20px auto;
    max-width: 600px;
    width: 100%;
    border-radius: 2px;
}
.popup-dialog-dialog h2 {
    margin: 0 0 15px;
}
.item-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}
.item-list > button {
    border: none;
    padding: 5px;
    border-radius: 2px;
    cursor: pointer;
    margin-bottom: 21px;
    position: relative;
}
.item-list > button:after {
    content: attr(data-caption);
    position: absolute;
    left: 0;
    bottom: -24px;
}
.item-list img {
    width: 100%;
}

/**/
.light .popup-dialog-dialog {
    background-color: rgba(0,0,0,0.4);
}
.light .item-list > button {
    background-color: rgba(0,0,0,0.05);
}
.light .item-list > button.selected {
    border: 2px solid #37c1ff;
}
.light .item-list > button:hover {
    background-color: rgba(0,0,0,0.08);
}

.datepicker-container { position: absolute; }

.pika-table { table-layout: fixed; }
.pika-table th:first-of-type { width: 10%; }
.pika-table .pika-week { vertical-align: middle; }
.pika-table td .pika-button { text-align: center; }
.pika-time-container { margin-bottom: 16px; }

table.pika-time { margin: 0 auto; width: auto; }
.pika-time td { padding: 0 1px 0; font-weight: bold; line-height: 25px; }
.pika-time select { padding: 2px; margin-bottom: 0; width: 80px; }

.datepicker.large td .pika-button { padding: 10px; }
.datepicker.large .pika-lendar { width: auto; max-width: 330px; }

/**/
.light { background-color: transparent }
.light .view > button { color: #444; }
.light .view > button:hover:enabled { color: #222; }
.light .view > div:first-of-type, .light .view > form:first-of-type {
    background-color: #fff; }
.light #control-panel, .view { background: linear-gradient(to bottom, #fff, #f2f2f2);
    border-top: 3px solid #40e3cb; box-shadow: 1px 1px 1px rgba(0,0,0,0.15);
    border-left: 1px solid rgba(0,0,0,0.07); }
.light #control-panel > div:not(.tab-links) { background-color: #fff; }
.light #control-panel h3 > span { color: #888; }
.light #control-panel h4 { color: rgba(0,0,0,0.65); }
.light .quick-links > div {
    background: linear-gradient(to top, #fff, #f5f5f5); }

.light .tab-links { border-bottom: 1px solid rgba(0,0,0,0.15); }
.light .tab-links button.current { background-color: #fff;
    border-right: 1px solid rgba(0,0,0,0.15);
    border-top: 1px solid rgba(0,0,0,0.15); }
.light .tab-links button.current::after { background-color: #fff; }
.light .tab-links button.current:last-of-type {
    border-left: 1px solid rgba(0,0,0,0.15); }
.light #control-panel h1 { color: rgba(0,0,0,0.5); }
.light .in-edit { border: 1px dashed rgba(0,0,0,0.2); }