:root {
    --bg-dark: #343940;
    --bg-light: /*#fbfbff*/#f5f6f9;
}

/* -- Spectre overrides ---- */
.form-label {
    line-height: 1rem;
}
.form-input-hint {
    margin-bottom: 0;
}
sup {
    top: initial;
}
.contenteditable {
    border-bottom: 1px dashed rgba(0,0,0,0.26);
    display: inline-block;
    padding: 0 2px 3px 2px;
    min-width: 8px;
}

/* -- Globals --- */
@font-face {
    font-family: "Fira sans light";
    src: url("../../frontend/rad/assets/fira-sans-light.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Fira sans heavy";
    src: url("../../frontend/rad/assets/fira-sans-heavy.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
html, body {
    height: 100%;
}
body {
    font: normal .8rem/1rem "Fira sans light";
}

/* -- Utils ---- */
.col-centered { align-items: center; }
.color-alt { color: rgba(56,65,76,0.7); }
.color-alt-light { color: rgba(255,255,255,0.6); }
.bg-light { background-color: var(--bg-light); }
.bg-alt-light { background-color: rgba(255,255,255,0.62); }
.ml-8 { margin-left: .8rem !important; }
.mt-8 { margin-top: .8rem !important; }
.mb-8 { margin-bottom: .8rem !important; }
.mt-10 { margin-top: 1rem !important; }
.mr-10 { margin-right: 1rem !important; }
.mb-10 { margin-bottom: 1rem !important; }
.hidden { display: none; }
.img-auto img { width: 100%; }

/* -- Global commons ---- */
.feather {
    width: 24px;
    height: 24px;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}
.feather-md {
    width: 1rem;
    height: 1rem;
}
.feather-sm {
    width: .9rem;
    height: .9rem;
}
.feather-xs {
    width: .8rem;
    height: .8rem;
}
.subtitle, .note {
    font-size: .55rem;
}
.box {
    padding: 1rem;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
}
.panel {
    padding: 1rem;
    border-radius: 6px;
}
.indented-content {
    border-left: 2px solid #c4ccd6;
    padding: .2rem 0 .6rem .6rem;
}
.form-buttons {
    margin-top: 1rem;
    display: flex;
    align-items: center;
}
.form-buttons .btn {
    padding: .25rem .55rem;
}
th.buttons, td.buttons {
    text-align: right;
    padding-right: 0;
    width: 4rem;
}
.buttons .btn {
    max-height: 1.4rem;
}

/* -- Elements: Buttons ---- */
.btn-icon {
    background: transparent;
    border: none;
}
.btn:focus, .btn:hover {
    background: rgba(206,211,219,0.16);
    border-color: #5c6b7d;
    text-decoration: none;
}
.btn-icon:active, .btn-icon.active {
    background: rgba(206,211,219,0.28);
}
.btn.with-icon {
    display: flex;
    align-items: center;
}
.btn.with-icon .feather {
    margin-right: .4rem;
}

/* Components: Info boxes & toaster messages */
p.info-box, .toaster-message {
    padding: 1.4rem;
    border-left: 2px solid rgb(177,177,179);
    background-color: rgba(177,177,177,0.078);
}
p.info-box.error, .toaster-message.error {
    border-color: rgb(254,90,120);
    background-color: rgba(254,90,120,0.031);
}
p.info-box.success, .toaster-message.success {
    border-color: rgb(47,200,139);
    background-color: rgba(47,200,139,0.06);
}
p.info-box, .toaster-message {
    border-left: 2px solid rgb(147, 188, 243);
    background-color: rgba(147, 188, 243, 0.07);
}
.toaster-message {
    display: flex;
    align-items: center;
}

/* Components: Steps */
.step-indicators {
    margin: 2rem 0 .2rem;
    display: flex;
}
.step-indicators div {
    flex: 1;
    text-align: center;
    position: relative;
    border-top: 2px solid rgb(209,213,219);
    padding: 14px 15px;
    margin: 0 6px;
}
.step-indicators div:first-child {
    margin-right: 12px;
    margin-left: 0;
}
.step-indicators div:last-child {
    margin-left: 12px;
    margin-right: 0;
}
.step-indicators div.current {
    border-color: #9eaec3;
    color: #828fa0;
}
.step-indicators div:not(.current) {
    color: #d1d5db;
}
.step-indicators div:before {
    content: "";
    position: absolute;
    width: .75rem;
    height: .75rem;
    border-radius: 50%;
    background-color: #d1d5db;
    left: 50%;
    margin-left: -.375rem;
    border: .2rem solid #fff;
    top: -.4rem;
}
.step-indicators div.current:before {
    background-color: #8ea2bd;
}
.step-indicators .feather {
    opacity: 0;
    background-color: #fff;
    color: inherit;
    width: 19px;
    height: 19px;
    position: absolute;
    top: -12px;
    left: 50%;
    margin-left: -10.5px;
    padding: 2px 1px 2px 2px;
}
.step-indicators div.checked .feather {
    opacity: 1;
}

/* Components: Drag'n'Drop */
td.drag-column, th.drag-column {
    width: 1.4rem;
}
.drag-handle {
    cursor: grab;
    display: flex;
    padding: 0;
    background: transparent;
    border: none;
    outline: none;
}
.no-drag .drag-handle {
    cursor: initial;
    pointer-events: none;
}
.drag-handle:active,
.drag-handle:focus {
    cursor: resize-ns;
}
.sortable-ghost {
    opacity: 0.4;
}
.drag-handle svg {
    width: 14px;
    height: 14px;
    opacity: 0.8;
}
