/* -- Spectre overrides ---- */
.form-label {
    line-height: 1rem;
}
.form-input-hint {
    margin-bottom: 0;
}
sup {
    top: initial;
}

/* -- Globals --- */
@font-face {
    font-family: "Fira sans light";
    src: url("../frontend/assets/fira-sans-light.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Fira sans heavy";
    src: url("../frontend/assets/fira-sans-heavy.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
html, body {
    height: 100%;
}
body {
    font: normal .8rem/1rem "Fira sans light";
}

/* -- Utils ---- */
.col-centered { align-items: center; }
.color-alt { color: rgba(56,65,76,0.7); }
.color-alt-light { color: rgba(255,255,255,0.6); }
.ml-8 { margin-left: .8rem !important; }
.mt-8 { margin-top: .8rem !important; }
.mt-10 { margin-top: 1rem !important; }
.mr-10 { margin-right: 1rem !important; }
.mb-10 { margin-bottom: 1rem !important; }
.hidden { display: none; }
.img-auto img { width: 100%; }

/* -- Global commons ---- */
.feather {
    width: 24px;
    height: 24px;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}
.feather-small {
    width: .9rem;
    height: .9rem;
}
.feather-medium {
    width: 1rem;
    height: 1rem;
}
.subtitle, .note {
    font-size: .55rem;
}
.box {
    padding: 1rem;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
}
.indented-content {
    border-left: 2px solid #c4ccd6;
    padding: .2rem 0 .6rem .6rem;
}
.form-buttons {
    margin-top: 1rem;
    display: flex;
    align-items: center;
}
.form-buttons .btn {
    padding: .25rem .55rem;
}
th.buttons, td.buttons {
    text-align: right;
    padding-right: 0;
    width: 4rem;
}
.buttons .btn {
    max-height: 1.4rem;
}

/* -- Elements: Buttons ---- */
.btn-icon {
    background: transparent;
    border: none;
}
.btn:focus, .btn:hover {
    background: rgba(206,211,219,0.16);
    border-color: #5c6b7d;
    text-decoration: none;
}
.btn-icon:active, .btn-icon.active {
    background: rgba(206,211,219,0.28);
}

/* Components: Info boxes & toaster messages */
p.info-box, .toaster-message {
    padding: 1.4rem;
    border-left: 2px solid rgb(177,177,179);
    background-color: rgba(177,177,177,0.078);
}
p.info-box.error, .toaster-message.error {
    border-color: rgb(254,90,120);
    background-color: rgba(254,90,120,0.031);
}
p.info-box.success, .toaster-message.success {
    border-color: rgb(47,200,139);
    background-color: rgba(47,200,139,0.06);
}
.toaster-message {
    display: flex;
    align-items: center;
}
