/* -- Components: Grids ---- */
.item-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: .4rem;
}
.item-grid.two {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
.item-grid .full-width {
    grid-column: 1 / -1;
}
.image-grid button, .image-grid img {
    border-radius: 2px;
}
.image-grid button {
    background-color: var(--bg-light);
    padding: 0;
    height: initial;
    position: relative;
    padding-bottom: 2rem;
}
.image-grid .caption {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    padding: .34rem;
}
.checkbox-grid > div {
    padding-left: .5rem;
    border-radius: 2px;
}

/* -- Components: Popup overlay ---- */
.popup-dialog {
    display: flex;
    justify-content: center;
    padding: 1rem;
    align-items: flex-start;
    z-index: 1;
}
.popup-dialog > div {
    min-width: 600px;
    max-width: 1280px;
    overflow-y: auto;
}
.popup-dialog h2 {
    margin-top: 0;
    font-size: 1.1rem;
}

/* -- Components: MultiFieldConfigurer ---- */
.with-configurable-fields .form-group:not(.form-input-multiField),
.with-configurable-fields .form-buttons {
    opacity: 0.3;
    pointer-events: none;
}
.form-input-multiField > label,
.form-input-hidden {
    display: none;
}
.multi-field-configurer {
    background-color: var(--bg-light);
    padding: .8rem;
    border: 1px dashed #d7dae4;
    border-radius: 4px;
    margin-top: .4rem;
}

/* -- Components: Chips ---- */
.chip.btn {
    background-color: transparent;
    border-style: dashed;
    padding-right: .6rem;
    padding-top: 0.13rem;
}

/* -- Components: Menus ---- */
.popup-menu {
    display: none;
    position: absolute;
    top: 32px;
}
.close-overlay {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}
.open .popup-menu {
    display: block;
}
.open .close-overlay {
    display: block;
}

/* -- Components: Buttons groups ---- */
.btn-group [type="button"] {
    padding: .4rem .2rem;
}

/* -- Cpanel: commons ---- */
#cpanel2 h2 {
    color: rgba(255,255,255,0.22);
    font-size: .6rem;
    margin: .4rem .5rem;
    text-transform: uppercase;
    letter-spacing: .08rem;
}
#cpanel2 a {
    color: inherit;
    font-size: .7rem;
    line-height: .7rem;
}
#cpanel2 i.subtitle {
    display: block;
}

/* -- Cpanel: elements ---- */
#cpanel-app {
    width: 192px;
    position: fixed;
    height: 100%;
    background-color: var(--bg-dark);
    z-index: 1;
    overflow-y: auto;
}
#cpanel2 {
    color: rgba(255,255,255,0.8);
    position: relative;
    z-index: 1;
}
#cpanel2 > section h2, #cpanel2 .entry > a {
    padding-left: .2rem;
}

#cpanel2 header {
    padding: .8rem 0 .2rem .8rem;
    margin-bottom: -.2rem;
}
#cpanel2 header img {
    width: 34px;
}

#cpanel2 > section {
    padding: .01rem 0;
    border-left: 3px solid #8fdec4;
    margin: 1rem 0;
}
#cpanel2 > section.site-admin {
    border-color: #f5ddb6;
}
#cpanel2 > section.for-devs {
    border-color: #f1acac;
}
#cpanel2 .entry {
    position: relative;
    margin: .4rem 0;
    padding-left: .6rem;
    padding-right: .6rem;
}
.entry a button {
    background: none;
    border: none;
    padding: 0 .2rem;
    display: flex;
    height: 1.3rem;
}
.entry a .locate .feather {
    width: .7rem;
    height: .7rem;
}
#cpanel2 .sub-nav {
    border-left: 1px dotted rgba(255,255,255,0.3);
    overflow: hidden;
    padding: 0 .6rem 0 .4rem;
    margin: .4rem 0;
    color: rgba(255,255,255,0.5);
    display: none;
    font-size: .6rem;
}
#cpanel2 .sub-nav.visible {
    display: block;
}
#cpanel2 .sub-nav a {
    font-size: .6rem;
    display: block;
    margin: .25rem 0;
}

/* -- View: commons ---- */
#view h2 {
    font: normal 1.4rem/1.4rem "Fira sans heavy";
    margin: -.2rem 0 1rem 0;
}
#view .form-input {
    width: 20rem;
}
#view textarea.form-input {
    width: 28rem;
    height: 6rem;
}

/* View: elements */
#view, .popup-dialog {
    position: fixed;
    left: 192px;
    top: 0;
    width: calc(100% - 192px);
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
#view {
    z-index: 0;
}
#view.open {
    display: block;
}
#view > div {
    margin: 15px;
    max-width: 1280px;
}
#view .close {
    position: absolute;
    top: 1.4rem;
    right: 1.4rem;
}
#toaster-main {
    position: fixed;
    top: 0;
    left: 192px;
    margin: 1rem;
    z-index: 1;
}

/* -- Website ---- */
#rad-site-iframe {
    position: absolute;
    width: calc(100% - 192px);
    left: 192px;
    height: 100%;
    border: none;
}

/* -- View-specific ---- */
/* #/manage-content-types */
.blurred:not(.full-width) {
    opacity: 0.3;
    pointer-events: none;
}
/* #/pack-website */
.checkbox-list .form-checkbox {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
}
.checkbox-list .form-group {
    margin: 0;
}
